.pagetitle {
    background-color: blue;
    height: 50px;
}

.pagetitle {
   font-size: 2em;
   font-weight: bold;
   text-align: center;
   padding-left: 15%;
   color: white;
}

.searchtitle {
    font-size: 24px;
    font-weight: bold;
}

.search-btn {
    width: 100%;
    margin-top: 15px;
}

#search-input {
    width: 30%;
}

.search-btn2 {
    width: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
}
