h1 {
    color: white;
    background: linear-gradient(to right, #8486F5, #483475);
}

h2,h4 {
    font-weight: bold;
}

#error {
    color: red
}

#selectedCity {
    border:1px solid #cecece; 
    min-height: 200px;
}

#ind_card {
    color: white; 
    background: #555C78
}